<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<table>
		<tr>
			<td>
				<wicket:message key="label.customerId">[customerId]</wicket:message>
			</td>
			<td>
				<input type="text" wicket:id="customerId" />
			</td>
		</tr>
		<tr>
			<td>
				<wicket:message key="label.firstName">[firstName]</wicket:message>
			</td>
			<td>
				<input type="text" wicket:id="firstName" />
			</td>
		</tr>
		<tr>
			<td>
				<wicket:message key="label.middleName">[middleName]</wicket:message>
			</td>
			<td>
				<input type="text" wicket:id="middleName" />
			</td>
		</tr>
		<tr>
			<td>
				<wicket:message key="label.lastName">[lastName]</wicket:message>
			</td>
			<td>
				<input type="text" wicket:id="lastName" />
			</td>
		</tr>
		<tr>
			<td>
				<wicket:message key="label.openBalance">[openBalance]</wicket:message>
			</td>
			<td>
				<input type="text" wicket:id="openBalance" />
			</td>
		</tr>
		<tr><th>Address</th></tr>
		<tr>
			<td>
				Street
			</td>
			<td>
				<input type="text" wicket:id="street" />
			</td>
		</tr>
		<tr>
			<td>
				City
			</td>
			<td>
				<input type="text" wicket:id="city" />
			</td>
		</tr>		<tr>
			<td>
				House
			</td>
			<td>
				<input type="text" wicket:id="house" />
			</td>
		</tr>		<tr>
			<td>
				Door
			</td>
			<td>
				<input type="text" wicket:id="door" />
			</td>
		</tr>
		<tr>
			<td>
				Zip Code
			</td>
			<td>
				<input type="text" wicket:id="zipCode" />
			</td>
		</tr>
		<tr>
			<td wicket:id="pref"/>
		</tr>
	</table>
</wicket:panel>